.login{
    background-image: url("./files/img1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    background-color: #f8f8f8f8;
    display: grid;
    place-items: center;
}
.login__container{
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 100px;
    text-align: center;
    border-radius: 10px;
   
}
.login__container >img
{
    height: 100px;
    object-fit: contain;
    margin-bottom: 40px;
}

.login__container >button{
    margin-top: 25px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
}